<p-table [value]="books" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Author</th>
      <th>Category</th>
      <th>Description</th>
      <th>Year</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-book>
    <tr>
      <td>{{ book.name }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.categories.name }}</td>
      <td>{{ book.description }}</td>
      <td>{{ book.year }}</td>
    </tr>
  </ng-template>
</p-table>
