<div class="flex justify-content-center">
  <div
    class="flex justify-content-center shadow p-4 border-round-lg w-full m-3 lg:w-5"
  >
    <div class="w-full">
      <form [formGroup]="bookForm" (ngSubmit)="createBook()">
        <div class="field w-full">
          <p-fileUpload
            mode="basic"
            name="image"
            accept="image/*"
            [customUpload]="true"
            [multiple]="false"
            (onSelect)="uploadBefore($event)"
          ></p-fileUpload>
        </div>
        <div class="field w-full">
          <label for="name" class="block">Name</label>
          <input
            id="name"
            type="name"
            formControlName="name"
            aria-describedby="name-help"
            pInputText
            class="w-full"
          />
        </div>
        <div class="field w-full">
          <label for="author" class="block">Author</label>
          <input
            id="author"
            type="name"
            formControlName="author"
            aria-describedby="author-help"
            pInputText
            class="w-full"
          />
        </div>
        <div class="field w-full">
          <label for="description" class="block">Description</label>
          <textarea
            formControlName="description"
            pInputTextarea
            class="w-full"
            rows="3"
          ></textarea>
        </div>
        <div class="field w-full">
          <label for="category" class="block">Category</label>
          <p-dropdown
            [options]="categories"
            placeholder="Select a Category"
            optionLabel="name"
            formControlName="category_id"
            class="w-full"
            styleClass="w-full"
            optionValue="id"
          ></p-dropdown>
        </div>
        <div class="field w-full">
          <label for="year" class="block">Year</label>
          <p-calendar
            view="year"
            dateFormat="yy"
            formControlName="year"
            inputId="yearpicker"
            class="w-full"
            styleClass="w-full"
          ></p-calendar>
        </div>
        <div class="field w-full">
          <button
            [disabled]="bookForm.status === 'INVALID'"
            pButton
            class="w-full"
            label="Create Book"
            type="submit"
          ></button>
        </div>
      </form>
    </div>
  </div>
</div>
